//CSS Here

html, body {
  font-family: $basefont;
  font-size: 1rem;
  line-height: 1.4;
  height: 100%;
  margin: 0;
}

section {
  padding: 4em 0 5.5em;
  background-color: white;
}

h2 {
  display: inline-block;
  background-color: orange;
  color: white;
  padding: 1em;
  margin: 0 0 1.5em;
}


// First Section
.home {
  height: 100%;
  background: url('images/bb_background.jpg') no-repeat;
  background-size: cover;
  background-color: transparent;

  header {
    text-align: center;
    color: white;
    position: absolute;
    max-width: 500px;
    top: 50%;
    left: 50%;
    padding: 1em;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    width: 100%;
    height: 50px;
    background: url('images/bluebirdlogo.png') no-repeat center center;
    background-size: contain;
  }
}

video#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(images/bgvideo_pic.jpg) no-repeat;
  background-size: cover;
}

.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Team section
.team {
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  li {
    display: inline-block;
    text-align: center;
    width: 33.333%;
  }
}

// FOOTER
footer {
  font-size: 0.65rem;
  color: $baseLight;
  text-align: center;
  background-color: $baseDark;
  padding: 0.1em 2em;
}
