//CSS Here

html, body {
  font-family: $basefont;
  font-size: 1rem;
  line-height: 1.4;
  height: 100%;
  margin: 0;
}

section {
  padding: 4em 0 5.5em;
  background-color: white;
}

h2 {
  display: inline-block;
  background-color: orange;
  color: white;
  padding: 1em;
  margin: 0 0 1.5em;
}

.circle-form {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
}


// First Section
.home {
  height: 100%;
  //background: url('images/bb_background.jpg') no-repeat;
  background-size: cover;
  background-color: transparent;

  header {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    opacity: 0.7;
    max-width: 400px;
    padding: 2em 1em;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .circle {
      @extend .circle-form;
      $box-shadow: 0px 0px 57px -16px rgba(0,0,0,1);
      background-color: $brandColor;
      -webkit-box-shadow: $box-shadow;
      -moz-box-shadow: $box-shadow;
      box-shadow: $box-shadow;

      .content {
        margin-top:-5.5em;
        text-align:center;
        color:white;
      }
    }

    .logo {
      width: 100%;
      height: 50px;
      background: url('images/bluebirdlogo.png') no-repeat center center;
      background-size: contain;
    }

    h3 {
      padding: 1em 2.2em;;
    }
  }

}

video#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(images/bgvideo_pic.jpg) no-repeat;
  background-size: cover;
}

.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Team section
.team {
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  li {
    display: inline-block;
    text-align: center;
    width: 33.333%;
  }
}

// FOOTER
footer {
  font-size: 0.65rem;
  color: $baseLight;
  text-align: center;
  background-color: $baseDark;
  padding: 0.1em 2em;
}
