//CSS Here

html, body {
  font-family: $basefont;
  font-size: 1rem;
  line-height: 1.4;
  height: 100%;
  margin: 0;
}

section {
  padding: 2em 2.5em;
}

.home {
  height: 100%;
  background: url('images/bb_background.jpg') no-repeat;
  background-size: cover;

  header {
    color: white;
    text-align: center;
    position: absolute;
    max-width: 500px;
    top: 50%;
    left: 50%;
    padding: 1em;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    width: 100%;
    height: 50px;
    background: url('images/bluebirdlogo.png') no-repeat center center;
    background-size: contain;
  }
}

footer {
  font-size: 0.65rem;
  color: $baseLight;
  text-align: center;
  background-color: $baseDark;
  padding: 0.1em 2em;
}
